.button {
    background: $light-blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-radius: 3px;
    opacity: 0.8;
    transition: 0.2s;
}

.button:hover {
    opacity: 1;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--modal {
    background: red;
    margin-right: $l-size;
    opacity: 0.5;   
}

.button--google{
    background:	#4285F4;
}

.button--email{
    background:	#E21818;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

