.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	transition: opacity 150ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
    background: $grey;
    color: white;
    outline: none;
    max-width: 30rem;
    padding: $l-size;
    text-align: center;
    border-radius: 3px;

    @media (min-width: $desktop-breakpoint) {
        max-width: 45rem;
    }
}

.modal_title {
    margin: 0 0 $s-size 0;
  
}

.modal_body--message {
    font-size: $font-size-medium;
    font-weight: 300;
    word-break: break-all;
}